<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily remainder</title>
</head>
<body>
    <h3>Dear {{data['name']}},</h3>
    <h4>
        Hope you are doing well!!!
    </h4>
    
    <p>
        Welcome to flashcard! Let's kickstart your experience.
    </p>
    <br>
    <h4>
        Best Regards,
        <br>
        Dipak Patil
        <br>
        <a href="mailto:21f1004451@student.onlinedegree.iitm.ac.in">21f1004451@student.onlinedegree.iitm.ac.in</a>
    </h4>
    
</body>
</html>